/app/__pycache__
/app/http/controllers/__pycache__
/app/http/controllers/webhooks/__pycache__
/app/http/controllers/callback/__pycache__
/app/http/controllers/middleware/__pycache__
app/http/requests/__pycache__
/app/libs/__pycache__
/app/services/__pycache__
/app/traits/__pycache__
/app/config/__pycache__
/app/models/__pycache__
/app/models/schemas/__pycache__
/app/dependencies/__pycache__
/app/dependencies/permissions/__pycache__
/app/dependencies/json/__pycache__
/tests/__pycache__
.venv
/__pycache__
function.zip
.env
/.serverless
/node_modules
/.alpackages
/.snapshots
/.pytest_cache
/.mypy_cache