/app/__pycache__
/app/routers/__pycache__
/app/routers/webhooks/__pycache__
/app/routers/callback/__pycache__
/app/routers/middleware/__pycache__
/app/libs/__pycache__
/app/services/__pycache__
/app/traits/__pycache__
/app/config/__pycache__
/app/models/__pycache__
/app/schemas/__pycache__
/app/requests/__pycache__
/app/dependencies/__pycache__
/app/dependencies/permissions/__pycache__
/app/dependencies/json/__pycache__
.venv
/__pycache__
function.zip
.env
/.serverless
/node_modules
/.alpackages
/.snapshots
/.pytest_cache
/.mypy_cache